<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: linksFragment">
    <title>Création d'un compte utilisateur - Trajet Facile</title>
</head>
<body>
<div th:replace="layout :: navbarFragment">&nbsp;</div>
<section class="section">
    <div class="container">

        <div class="notification is-primary">
            Nous avons bien pris en compte votre réservation pour

            <span th:text="${book.ride.toCity}"/>.

            <p>
                Bon voyage <span th:text="${book.user.login}"/> !!
            </p>
        </div>
    </div>
</section>
</body>
</html>