<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="linksFragment">
<form th:id="'form' + ${ride.id}" action="#" th:action="@{/book}"
	th:object="${bookARideForm}" th:method="POST">
	<input type="hidden" th:value="${ride.id}" name="rideId"
		th:id="'rideId' + ${ride.id}" />
	<td th:text="${ride.fromCity}" />
	<td th:text="${ride.toCity}" />
	<td th:text="${startDate}" />
	<td th:text="${ride.seats}" />
	<td th:text="${ride.cost}" />
	<td>
		<button type="submit" class="button is-info">je vais là!</button>
	</td>
</form>
</div>
</html>